<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div> -->
  <div class="container-fluid fixed-top">
        <!-- /* First Row has only my name which uses full 12 cells */ -->
      <div class="row">
        <div class="col-sm-12">
            <h1 class="font_0">
              <span class="color_14">Swetha Muralidharan</span></span></h1>
              <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>

      <!-- /* Second Row : Role Name & navbar*/ -->
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                  <li><a href="#">About</a></li>
                  <li><a href="#work">My Work</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>

            </nav>
          </div>
      </div>

      <div id="results">
      </div>
    </div>
  </body>
</html>
